@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  color: #ededed;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #333;
}

/* Editor Overlay Alignment */
.editor-container {
  position: relative;
  font-family: "JetBrains Mono", monospace;
  font-size: 10px;
  line-height: 1.5;
}
.editor-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0.75rem; /* p-3 equivalent */
  margin: 0;
  border: 0;
  box-sizing: border-box;
  overflow: hidden;
  white-space: pre-wrap;
  word-break: break-all;
}
.editor-textarea {
  z-index: 10;
  color: transparent;
  background: transparent;
  caret-color: #10b981; /* Emerald 500 */
  resize: none;
  outline: none;
}
.editor-highlight {
  z-index: 0;
  pointer-events: none;
}
